<head>
    <title> e-Saving Solutions </title>

    <link rel="icon" href="Images/favicon.png">
    <link rel="manifest" href="manifest.json">
    <link href="style.css" type="text/css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet"/>
</head>
<body scroll="no" style="overflow: hidden">

    <div class="page" id="wrapper">
        <div class="top-container" id="home">
            <img src="Images/eye.png" class="eye" onclick="openModal('eye-modal')">
            <div class="modal" id="eye-modal">
                <div class="modal-content">
                    <h3 class="modalTitle">
                        <strong>Select Palette</strong>
                    </h3>
                    <span class="close" onclick="closeModal('eye-modal')">&#10006;</span>
                    <h5 class="moreInfo">
                        These colour palettes are designed for different types of colour blindness<br/>
                        Please feel free to explore each of them to find one that suits you!
                    </h5>
                    <h4 class="palette" onclick="normal(); closeModal('eye-modal');" id="normal">
                        Normal
                    </h4>
                    <h4 class="palette" onclick="protanopia(); closeModal('eye-modal');" id="protanopia">
                        Protanopia
                    </h4>
                    <h4 class="palette" onclick="deuteranopia(); closeModal('eye-modal');" id="deuteranopia">
                        Deuteranopia
                    </h4>
                    <h4 class="palette" onclick="tritanopia(); closeModal('eye-modal');" id="tritanopia">
                        Tritanopia
                    </h4>
                    <h4 class="palette" onclick="monochrome(); closeModal('eye-modal');" id="monochrome">
                        Monochrome
                    </h4>
                </div>
            </div>
            <div class="top">
                <header>
                    <div id="main">
                        <div class="title">
                            <div class="titleContainer">
                                <img src="Images/logo.svg">
                                <h1 id="sitetitle"> <strong> e-Saving </strong> Solutions </h1>
                            </div>
                        </div>
                    </div>
                </header>
        
                <hr class="navLine">
        
                <nav>
                    <ul>
                        <a href="#about"><li><h3 class="nav-bar">About Us</h3></li></a>
                        <a href="#team"><li><h3 class="nav-bar">The Team</h3></li></a>
                        <a href="#beliefs"><li><h3 class="nav-bar">Beliefs</h3></li></a>
                        <a href="#projects"><li><h3 class="nav-bar">Projects</h3></li></a>
                        <a href="#contact"><li><h3 class="nav-bar">Contact</h3></li></a>
                    </ul>
                </nav>
        
                <hr class="navLine">
            </div>

            <a href="#about"><img src="Images/arrow-down.png" class="down-arrow" id="home-down"></a>
        </div>

<!------------------------------------------------------------------------------------------------------------------->

        <div id="middle-wrap">
            <div class="middle-container" id="about">
                <a href="#home"><img src="Images/arrow-up.png" class="up-arrow" id="about-up"></a>
                <a href="#home"><img src="Images/favicon.svg" class="home" id="about-home"></a>
                <div class="middle" data-color="1">
                    <div class="section-content">
                        <div class="section-title">
                            <h2><strong>About Us</strong></h2>
                        </div>
                        <div class="section-info">
                            <h3>Here at e-Saving Solutions, we find modern solutions for modern problems</h3>
                            <hr>
                            <h4>
                                Established in 2019 as a University based software development team, e-Saving 
                                Solutions has been working towards technological success. We provide efficient 
                                and effective solutions to clients problems in an energy saving manner which is 
                                beneficial to them, ourselves as a company, and the environment as a whole.
                            </h4>
                            <h5 class="readMore" onclick="openModal('about-modal', 'about')">
                                Click here to read more!
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="modal" id="about-modal">
                    <div class="modal-content">
                        <h3 class="modalTitle">
                            <strong>About Us</strong>
                        </h3>
                        <span class="close" onclick="closeModal('about-modal')">&#10006;</span>
                        <img src="Images/mglass.png" class="projectIcon">
                        <h4 class="modal-text">
                            Established in 2019 as a University based software development team, e-Saving 
                            Solutions has been working towards technological success. We provide efficient 
                            and effective solutions to clients problems in an energy saving manner which is 
                            beneficial to them, ourselves as a company, and the environment as a whole. We 
                            already have numerous projects under our belt which can be found in the projects 
                            section of this site. In it you will see a common theme of environmentally friendly 
                            designs that are consumer friendly so are there for easy to understand, use and adapt 
                            to various requirements our clients have set out for us. In each project we undertake 
                            we put it through strenuous testing, using feedback from clients to help improve 
                            whatever the project may entail and ensure they are nothing but satisfied with our 
                            end result, which time and time again is delivered on time.
                        </h4>
                    </div>
                </div>
                <a href="#team"><img src="Images/arrow-down.png" class="down-arrow" id="about-down"></a>
            </div>
            
<!------------------------------------------------------------------------------------------------------------------->

            <div class="middle-container" id="team">
                <a href="#about"><img src="Images/arrow-up.png" class="up-arrow" id="team-up"></a>
                <a href="#home"><img src="Images/favicon.svg" class="home" id="team-home"></a>
                <div class="middle" data-color="2">
                    <div class="section-content">
                        <div class="section-title">
                            <h2><strong>The Team</strong></h2>
                        </div>
                        <div class="section-info">
                            <h3>Our team consists of...</h3>
                                <hr>
                                <table align="center" class="table">
                                    <tr onclick="openModal('organisational-modal', 'team')">
                                        <td>Organisational Manager</td>
                                        <td><strong>&nbsp |</strong></td>
                                        <td>&nbsp Jamie Rice</td>
                                    </tr>
                                    <tr onclick="openModal('technical-modal', 'team')">
                                        <td>Technical Manager</td>
                                        <td><strong>&nbsp |</strong></td>
                                        <td>&nbsp Bruce Wilson</td>
                                    </tr>
                                    <tr onclick="openModal('reporting-modal', 'team')">
                                        <td>Reporting Officer</td>
                                        <td><strong>&nbsp |</strong></td>
                                        <td>&nbsp Mark Kostryckyj</td>
                                    </tr>
                                    <tr onclick="openModal('liaison-modal', 'team')">
                                        <td>Liaison Officer</td>
                                        <td><strong>&nbsp |</strong></td>
                                        <td>&nbsp Rory Dobson</td>
                                    </tr>
                                    <tr onclick="openModal('software-modal', 'team')">
                                        <td>Software Developer</td>
                                        <td><strong>&nbsp |</strong></td>
                                        <td> &nbsp Michael Linton</td>
                                    </tr>
                                    <tr onclick="openModal('web-modal', 'team')">
                                        <td>Web Developer</td>
                                        <td><strong>&nbsp |</strong></td>
                                        <td>&nbsp Andrew McGregor</td>
                                    </tr>
                                </table>
                                <h5 class="moreInfo">To explore a team role further, try clicking one above!</h5>
                        </div>
                    </div>
                </div>

                <div class="modal" id="organisational-modal">
                    <div class="modal-content">
                        <h3 class="modalTitle">
                            <strong>Organisational Manager</strong>
                        </h3>
                        <span class="close" onclick="closeModal('organisational-modal')">&#10006;</span>
                        <h4 class="modal-text">
                            The role of the organisational manager is to organise the team and oversee all sub tasks. 
                            The organisational manager is responsible for planning out the sprints of the project, 
                            ensuring everyone is doing their tasks on time and delegating any unassigned jobs.
                        </h4>
                        <hr>
                        <h3 class="modalTitle">
                            <strong>Jamie Rice</strong>
                        </h3>
                        <h4 class="bio">
                            <img src="Images/Jamie2.jpg" class="portrait">
                            Jamie is in his third year of a degree In information systems at Heriot watt. During his 
                            time at university Jamie has been part of many projects in a variety of different subjects. 
                            This has allowed him to deal with multiple different roles, from the design of software 
                            systems in UML right the way through to devising a marketing strategy for different products 
                            and services. He is also versed in design principles of website and application creation. 
                        </h4>
                    </div>
                </div>

                <div class="modal" id="technical-modal">
                    <div class="modal-content">
                        <h3 class="modalTitle">
                            <strong>Technical Manager</strong>
                        </h3>
                        <span class="close" onclick="closeModal('technical-modal')">&#10006;</span>
                        
                        <h4 class="modal-text">
                            The technical manager will review all code and ensure everything submitted is up to a 
                            sufficient standard as well as writing code themselves. They are in charge or delegating 
                            coding tasks and supporting the developers.
                        </h4>
                        <hr>
                        <h3 class="modalTitle">
                            <strong>Bruce Wilson</strong>
                        </h3>
                        <h4 class="bio">
                            <img src="Images/Bruce2.jpg" class="portrait">
                            Bruce is a 3rd year Computing Science student at Heriot Watt University, alongside working 
                            for the University as an intern software developer.
                            He volunteers for the Scottish Huntington's Association, as a youth ambassador with SHAYP 
                            (Scottish Huntington's Association Youth Project).
                            He has experience using programming languages such as Java and Python, and web development systems including nodeJS, PHP and apache.
                        </h4>
                    </div>
                </div>

                <div class="modal" id="reporting-modal">
                    <div class="modal-content">
                        <h3 class="modalTitle">
                            <strong>Reporting Officer</strong>
                        </h3>
                        <span class="close" onclick="closeModal('reporting-modal')">&#10006;</span>
                        <h4 class="modal-text">
                            The job of the reporting officer is to keep track of all of the decisions made by the 
                            group and to take minutes of meetings.
                        </h4>
                        <hr>
                        <h3 class="modalTitle">
                            <strong>Mark Kostryckyj</strong>
                        </h3>
                        <h4 class="bio">
                            <img src="Images/Mark2.jpg" class="portrait" id="markpic">
                            Mark is a third year Computing Science student at Heriot Watt University who also works 
                            as a lifeguard on the weekend. He enjoys the mathematical/problem solving side of all 
                            aspects of computing. He has undertaken courses demonstrating skills with languages such 
                            as Java, C and Sql and currently updates and maintains a local nursery's website in his 
                            spare time.
                        </h4>
                    </div>
                </div>

                <div class="modal" id="liaison-modal">
                    <div class="modal-content">
                        <h3 class="modalTitle">
                            <strong>Liaison Officer</strong>
                        </h3>
                        <span class="close" onclick="closeModal('liaison-modal')">&#10006;</span>
                        <h4 class="modal-text">
                            The liaison officer is responsible for maintaining regular contact with the group manager, 
                            and to ensure strong communication in the team. This facilitates a strong working connection 
                            between all group members.
                        </h4>
                        <hr>
                        <h3 class="modalTitle">
                            <strong>Rory Dobson</strong>
                        </h3>
                        <h4 class="bio">
                            <img src="Images/Rory2.jpg" class="portrait">
                            As part of his course, Rory has recently been studying multiple programming languages including 
                            Java and Python, as well as growing his general fundamental knowledge in software design and development.
                            He has worked on several university projects, most notably his work on an autocorrect program, 
                            a flight planner, and a C based image encoder. He has also been developing his front-end skills in HTML, 
                            CSS and JavaScript through the creation of a website and an app. Recently, he has been studying ethical
                            hacking and cyber-security in his free time.
                        </h4>
                    </div>
                </div>

                <div class="modal" id="software-modal">
                    <div class="modal-content">
                        <h3 class="modalTitle">
                            <strong>Software Developer</strong>
                        </h3>
                        <span class="close" onclick="closeModal('software-modal')">&#10006;</span>
                        <h4 class="modal-text">
                            The software developer will develop the software components, integrate and test them. 
                            They are responsible for the design of functionality as well as the implementation. 
                            This role is shared with other position titles.
                        </h4>
                        <hr>
                        <h3 class="modalTitle">
                            <strong>Michael Linton</strong>
                        </h3>
                        <h4 class="bio">
                            <img src="Images/Michael2.jpg" class="portrait">                            
                            Michael is a third year Computer Science student at Heriot Watt University. 
                            He has experience with python, php and linux. He has been working on backend 
                            communications, dealing with data from SQL tables to json packets. During his 
                            time at university he has developed these skills and utelise them while working 
                            in a team.
                        </h4>
                    </div>
                </div>

                <div class="modal" id="web-modal">
                    <div class="modal-content">
                        <h3 class="modalTitle">
                            <strong>Web Developer</strong>
                        </h3>
                        <span class="close" onclick="closeModal('web-modal')">&#10006;</span>
                        <h4 class="modal-text">
                            The Web Developer will be responsible for implementing the majority of the web app's user 
                            interface and integrating it with some parts of the severside software to display data to 
                            the user while aiming to achieve a well made user interface that it is both easy to use and 
                            to understand.
                        </h4>
                        <hr>
                        <h3 class="modalTitle">
                            <strong>Andrew McGregor</strong>
                        </h3>
                        <h4 class="bio">
                            <img src="Images/Andrew2.jpg" class="portrait" id="andrew-bio">
                            Andrew is a 3rd year Computer Systems at  Heriot Watt University, and has experience working 
                            on small web development projects utilising Material Design Bootstrap, PHP and JavaScript. He 
                            also has learned other programming languages such as C, C# and Java, and is working towards 
                            improving his overall knowledge about software engineering and fundamental programming skills. 
                            He has also been improving his knowledge of closely related subjects such as networking and basic 
                            electrical engineering by working on projects involving Arduinos.
                        </h4>
                    </div>
                </div>

                <a href="#beliefs"><img src="Images/arrow-down.png" class="down-arrow" id="team-down"></a>
            </div>

<!------------------------------------------------------------------------------------------------------------------->
            
            <div class="middle-container" id="beliefs">
                <a href="#team"><img src="Images/arrow-up.png" class="up-arrow" id="belief-up"></a>
                <a href="#home"><img src="Images/favicon.svg" class="home" id="belief-home"></a>
                <div class="middle" data-color="3">
                    <div class="section-content">
                        <div class="section-title">
                            <h2><strong>Beliefs</strong></h2>
                        </div>
                        <div class="section-info">
                            <h3>We believe...</h3>
                            <hr>
                            <h4>
                                At e-Saving Solutions we believe in a simple principle of user friendly and 
                                hassle free products which in turn will not only assist our clients in day to 
                                day work life but also extending to their home life as well.
                            </h4>
                            <h5 class="readMore" onclick="openModal('beliefs-modal', 'beliefs')">
                                Click here to read more!
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="modal" id="beliefs-modal">
                    <div class="modal-content">
                        <h3 class="modalTitle">
                            <strong>Our Core Beliefs</strong>
                        </h3>
                        <span class="close" onclick="closeModal('beliefs-modal')">&#10006;</span>
                        <img src="Images/handshake.png" class="projectIcon">
                        <h4 class="modal-text">
                            At e-Saving Solutions we believe in a simple principle of user friendly and 
                            hassle free products which in turn will not only assist our clients in day to 
                            day work life but also extending to their home life as well. It is one thing 
                            to provide a product but it is another thing to go about doing this in a way 
                            which we as a company can stand behind. In order to do this we believe this 
                            mindset has to be nurtured from within, promoting equal rights, equal pay and 
                            reasonable working hours to maintain high levels of employee morale. This helps 
                            create a workplace in which we as a team enjoy being part of, helping to spark 
                            creativity and productivity. Overall consideration for those within the company 
                            and maintaining consumer satisfaction are the core components of our belief system.
                        </h4>
                    </div>
                </div>
                
                <a href="#projects"><img src="Images/arrow-down.png" class="down-arrow" id="belief-down"></a>
            </div>

<!------------------------------------------------------------------------------------------------------------------->
            
            <div class="middle-container" id="projects">
                <a href="#beliefs"><img src="Images/arrow-up.png" class="up-arrow" id="project-up"></a>
                <a href="#home"><img src="Images/favicon.svg" class="home" id="project-home"></a>
                <div class="middle" data-color="4">
                    <div class="section-content">
                        <div class="section-title">
                            <h2><strong>Projects</strong></h2>
                        </div>
                        <div class="section-info" id="project-section">
                            <h3>We have worked on projects such as...</h3>
                            <hr>
                            <h4 class="project" onclick="openModal('bubble-modal', 'projects')">
                                Bubble home
                            </h4>
                            <h4 class="project" onclick="openModal('hwu-modal', 'projects')">
                                HWUndersea
                            </h4>
                            <h4 class="project" onclick="openModal('website-modal', 'projects')" id="last-project">
                                e-Saving Solution Website
                            </h4>
                            <h5 class="moreInfo">Click on a project to learn more!</h5>
                        </div>
                    </div>
                </div>
                
                <a href="#contact"><img src="Images/arrow-down.png" class="down-arrow" id="project-down"></a>

                <div class="modal" id="bubble-modal">
                    <div class="modal-content">
                        <h3 class="modalTitle">
                            <strong>Bubble</strong>
                        </h3>
                        <span class="close" onclick="closeModal('bubble-modal')">&#10006;</span>
                        <img src="Images/bubble.svg" class="projectIcon">
                        <h4 class="modal-text">
                            We are currently in development of a new application for the "Team Esteem" which will 
                            allow an individual to view the power usage of their home or any property they desire. 
                            This is an effort esteem has undertaken in order to make individuals more 'power 
                            conscious' about their day to day life in order to make homes more environmentally 
                            friendly.
                        </h4>
                        <h5 class="readMore"><a href="https://bubble.rorydobson.com" target="_blank">Check it out by clicking here!</a></h5>
                        <hr>
                        <h3 class="modalTitle">
                            <strong>Goal of the app</strong>
                        </h3>
                        <h4 class="modal-text">
                            We at e-Saving Solutions are developing an application  that will allow control of an 
                            individual's property power outlets as well as getting a visual representation of how 
                            much power this property collectively uses. We are thrilled to be able to develop our 
                            ideas in how homes, office space, or any other property can be made more eco friendly. 
                            With this in mind we know how much user experience is crucial in making sure those who 
                            wish to use our application can use it without fault.
                        </h4>
                    </div>
                </div>

                <div class="modal" id="hwu-modal">
                    <div class="modal-content">
                        <h3 class="modalTitle">
                            <strong>HWUndersea</strong>
                        </h3>
                        <span class="close" onclick="closeModal('hwu-modal')">&#10006;</span>
                        <img src="Images/hwlogo.svg" class="projectIcon" id="hwlogo">
                        <h4 class="modal-text">
                            We were tasked with the design and creation of an interface for an Autonomous Underwater 
                            Vehicle (AUV) for Hwu Undersea. We were given a very minimal brief with certain crucial 
                            aspects the client required the interface to have, an example of this was the ability to 
                            change between AI and manual control, along with other aspects such as data retrieval, 
                            geographical updates of location and activation sensors. It was up to us to build an 
                            interface which did the crucial requirements they set out but also use our ingenuity to 
                            design any new features and display them all coherently on one - two screens. When 
                            designing this interface we had to go through strenuous trial and error to see which 
                            features of this system should be centre of attention so the user has easy access, to 
                            others which could take a 'backseat' so to say and be as much of a focus.  
                        </h4>
                    </div>
                </div>

                <div class="modal" id="website-modal">
                    <div class="modal-content">
                        <h3 class="modalTitle">
                            <strong>e-Saving Solution Website</strong>
                        </h3>
                        <span class="close" onclick="closeModal('website-modal')">&#10006;</span>
                        <img src="Images/logo.svg" class="projectIcon">
                        <h4 class="modal-text">
                            This website that you are currently reading this on is designed and created entirely 
                            by e-saving solution employees. We didn't use any basic web creation tools, instead it 
                            was done through our own knowledge and vision.
                        </h4>
                        <hr>
                        <h3 class="modalTitle">
                            <strong>Design Decisions</strong>
                        </h3>
                        <h4 class="modal-text">
                            Our ambition for this website was to create a sleek, visually appealing website that 
                            everyone can use. As you make your way down the page you might have noticed the 
                            continuing pattern going down the background of the page, this was to promote a feeling 
                            of progression and giving the website a natural flow. Go back to the home screen after 
                            reading this and in the top right feel free to have a look at different colour palettes 
                            that are provided to cater for those with colour blindness. These are the types of details 
                            we strive for in everything we do.
                        </h4>
                    </div>
                </div>
            </div>

<!------------------------------------------------------------------------------------------------------------------->
            
            <div class="middle-container" id="contact">
                <a href="#projects"><img src="Images/arrow-up.png" class="up-arrow" id="contact-up"></a>
                <a href="#home"><img src="Images/favicon.svg" class="home" id="contact-home"></a>
                <div class="middle" data-color="5">
                    <div class="section-content">
                        <div class="section-title">
                            <h2><strong>Contact</strong></h2>
                        </div>
                        <div class="section-info">
                            <h3>If you have any queries...</h3>
                            <hr>
                            <h4>
                                Please don't hesitate to get in contact with the liaison officer, Rory Dobson, at 
                                <a href="mailto:rmd5@hw.ac.uk">rmd5@hw.ac.uk</a><br/>
                                We will try to respond within 24hrs
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap" rel="stylesheet">
    <script src="js/app.js"></script>
    <script src="js/main.js"></script>
</body>