html, body {
	margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    touch-action: none;
    background-color: rgb(51, 51, 51);
    transition: background-color 1s ease;
}

@font-face {
    font-family: sequel;
    src: url(Sequel_Sans/Sequel\ Sans\ Light\ Head.ttf);
}

@font-face {
    font-family: body;
    src: url();
}

header {
	margin: 0;
	padding-top: 2px;	
	justify-content: center;
    width: 100%;
}

header div {
    text-align: center;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 5em;
    color: black;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 3em;
    color: black;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 1.25em;
    text-align: center;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 1em;
    text-align: justify;
    text-align-last: center;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 0.85em;
    text-align: center;
    font-style: italic;
}

hr {
    width: 65%;
}

.table-divider {
    width: 40%;
}

table {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: rgb(128, 164, 197);
}

nav {
    display: flex;
}

ul {
    text-align: center;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    border-radius: 5px;
}

nav li {
    text-align: center;
    float: left;
    justify-content: center;
    padding: 0px 16px;
    text-decoration: none;
    display: block;
    color: black;
}

a:active, a:hover, a:link, a:visited {
    background: none;
    text-decoration: none;
}

nav li:hover {
    border-radius: 5px;
    color: white;
    background-color: rgba(51, 51, 51, 1);
}


.top-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.top{
    width: 80%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    background-image: url("Images/mountainsLavenderHaze2.jpg");
    background-repeat: no-repeat;
    background-size: 101% 101%;
    border: 0px solid;
    border-radius: 10px;
    box-shadow: 0 10px 10px 2px black;
    padding-bottom: 20px;
}

.top img {
    margin-bottom: -5%;
}

.middle-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.middle {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 0px solid;
    border-radius: 10px;
    border-color: rgb(34, 34, 34);
    box-shadow: 0 10px 10px 2px black;
}

.section-content {
    padding-top: 1px;
    padding-bottom: 5px;
}

.section-title {
    text-align: center;
}

.section-info {
    margin-left: 10%;
    margin-right: 10%;
    line-height: 30px;
}

#project-section {
    line-height: 0px;
}

.projectIcon {
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
}

#middle-wrap {
    background-image: url("Images/backgroundWebSafe.svg");
    background-size: auto 100%;
}

tr:hover {
    text-shadow: 0 0 0.01px black;
    cursor: pointer;
}

.down-arrow {
    width: 5%;
    height: auto;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: visible;
}

.up-arrow {
    width: 5%;
    height: auto;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home {
    width: 4%;
    height: auto;
    position: absolute;
    top: 10%;
    left: 90%;
    transform: translate(-50%, -50%);
}

.eye {
    width: 6%;
    height: auto;
    position: absolute;
    top: 10%;
    left: 95%;
    transform: translate(-50%, -50%);
}

#dropLine {
    margin-bottom: 20px;
}

.eye:hover {
    width: 6.5%;
    cursor: pointer;
}

.palette:hover {
    text-shadow: 0 0 0.01px black;
    cursor: pointer;
}

.down-arrow:hover, .up-arrow:hover, .home:hover, 
.down-arrow:active, .up-arrow:active, .home:active, 
.down-arrow:link, .up-arrow:link, .home:link,
.down-arrow:visited, .up-arrow:visited, .home:visited {
    width: 5.5%;
    background-color: none;
    background: none;
}

.home:hover {
    width: 4.5%;
}

.modal {
    display: none;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 51, 0, 0.9);
}

.modal-content {
    max-height: 90%;
    width: 50%;
    position: relative;
    background-color: white;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1%;
    line-height: 22px;
    box-shadow: 0 10px 10px 2px black;
    overflow-y: scroll;
}

.modal-text {
    margin-left: 10%;
    margin-right: 10%;
}

.close {
    position: absolute;
    color: black;
    top: 20px;
    left: 97.25%;
    transform: translate(-50%, -50%);
    font-weight: 100;
    text-align: right;
    font-family: 'Comfortaa', cursive;
    font-size: 2em;
    text-align: center;
    cursor: pointer;
}

.close:hover {
    font-size: 2.5em;
}

.portrait {
    margin-right: 10px;
    width: 45%;
    float: left;
    border-radius: 5px;
}

.project {
    line-height: 10px;
}

.project:hover {
    text-shadow: 0 0 0.01px black;
    cursor: pointer;
}

#last-project {
    padding-bottom: 10px;
}

.bio {
    text-align: left;
    text-align-last: left;
}

#markpic {
    margin-bottom: 0px;
}

#normal {
    font-weight: 900;
}

.readMore {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.readMore:hover {
    text-shadow: 0 0 0.01px black;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(51, 51, 51);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(51, 51, 51);
    border-radius: 10px;
}

#hwlogo {
    width: 25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
}

@media only screen  and (max-device-width : 768px) {
    h1 {
        font-size: 4.5em;
    }

    h2{
        font-size: 4em;
    }

    h3 {
        font-size: 2.5em;
        line-height: 50px;
    }

    h4 {
        font-size: 2em;
        line-height: 40px;
    }

    h5 {
        font-size: 1.3em;
    }

    .top {
        background-size: auto 101%;
    }

    .nav-bar {
        font-size: 3em;
        font-weight: 900;
    }

    nav li {
        float: none;
    }

    nav li:hover {
        color: black;
        background-color: rgba(34, 34, 34, 0);
    }

    a {
        text-decoration: none;
    }

    table {
        font-size: 1.8em;
        font-weight: 700;
    }

    #team .section-info {
        margin-left: 0%;
        margin-right: 0%;
    }

    tr {
        line-height: 75px;
    }

    tr:hover {
        font-weight: normal;
        cursor: pointer;
    }

    .down-arrow, .up-arrow {
        width: 15%;
    }

    .home {
        width: 11%;
    }

    .eye {
        width: 16%;
        left: 90%;
        top: 5%;
    }

    .down-arrow:hover, .up-arrow:hover {
        width: 13%;
    }

    .home:hover {
        width: 10%;
    }

    .eye:hover {
        width: 15%;
    }

    .modal-content {
        width: 80%;
        padding: 5%;
    }

    .close {
        font-size: 5em;
        font-weight: 900;
        top: 45px;
        left: 94%;
        transform: translate(-50%, -50%);
        content: '&#10005;';
    }

    .close:hover {
        font-size: 5em;
    }

    .project:hover {
        font-weight: normal;
    }

    .portrait {
        width: 50%;
        margin-bottom: 0px;
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 4%;
    }

    #markpic {
        margin-bottom: 4%;
    }

    .bio {
        text-align: justify;
        text-align-last: center;
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media only screen  and (max-device-width : 1025px) {
    .down-arrow, .up-arrow {
        width: 15%;
    }

    .home {
        width: 11%;
    }

    .down-arrow:hover, .up-arrow:hover {
        width: 13%;
    }

    .home:hover {
        width: 10%;
    }

    .eye {
        width: 16%;
    }

    .eye:hover {
        width: 15%;
    }
}